<style>
        body{
            background-color:rgb(199, 232, 221);
        }
         h1{
             color: rgb(227, 25, 109);
         } 
         #about{
             color:rgb(145, 90, 35);
         }
         #interesting{
             background-color:rgb(151, 227, 28);
         }
         #inter{
             background-color:rgb(119, 117, 173)
         }
         #family{
             color:rgb(46, 28, 201);
         }
         #climate{
             color:rgb(242, 14, 14);
         }
        
         #clim{
             background-color:rgb(252, 179, 252);
         }
         .paris{
             background-color:rgb(192, 232, 181);
         }
            
            
            
        </style>